@import "@/assets/styles/mixins.scss";


h1 {
    border-bottom: 5px solid rgb(227, 245, 240);
    margin:0px 400px 0px 400px;
    padding-bottom: 10px;
}

.hello {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap;
   margin-top: 5px;
    
  }
  
  .list {
    display:flex; 
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    margin: 50px 100px 50px 100px;
    padding: 10px;
    width:300px;
    
    box-shadow: 5px 10px 10px #e2e2e2;
    border-radius: 20px;
    h2 {
      text-transform: uppercase;
    }
  }

  .image {
      margin: 10px 0px 20px 0px;
      height: 200px;
      border-radius: 20px;
      width: 100%;
      background-size: cover;
      
  }

  .more {
      
      background-color:rgb(227, 245, 240);
    margin:30px 5px 30px 5px;
	padding: 10px 20px 10px 20px;
    border-radius: 30px;
    @include button-style; 
    &:hover{
        background-color:rgb(208, 245, 234);
      }
  }

  .add {
      
    background-color:rgb(227, 245, 240);
  margin:30px 5px 10px 5px;
  padding: 10px 50px 10px 50px;
  border-radius: 30px;
  box-shadow: 5px 10px 10px #e2e2e2;
  text-transform: uppercase;
  
  @include button-style-add; 
  &:hover{
    background-color:rgb(208, 245, 234);
    
  }
}

  .delete {
      
    background-color:rgb(243, 243, 243);
  margin:23px 5px 30px 5px;
  padding: 10px 20px 10px 20px;
  border-radius: 30px;
  @include button-style; 
  &:hover{
    background-color:rgb(253, 216, 216);
  }
}

i {
    margin-left: 5px;
}